{% extends 'TwigBundle::layout.html.twig' %}
{% block title %}Bienvenido{% endblock %}
{% block body %}
        <div class="container-fluid">
            <h1>Bienvenido</h1>
         </div>
{% endblock %}