
{% extends 'TwigBundle::layout.html.twig' %}
{% block title %}Usuario{% endblock %}
{% block body %}
        <div class="container-fluid">
            <div class="row-fluid">
                    {{ block('fos_user_content')}}
            </div>
         </div>
{% endblock %}





